# Acceptance Test Report

## Memory Usage (Phpolar\Phpolar\MemoryUsage)
- [x] Memory usage for a get request shall be below 55000 bytes

## Project Size (Phpolar\Phpolar\ProjectSize)
- [x] Source code total size shall be below 2300 bytes

